# Abaikan file hasil build Tailwind
src/css/output.css
public/assets/css/style.css

# Direktori dependency
node_modules/

# Cache Tailwind
.tailwind-cache/

# File log
npm-debug.log*

# File sistem
.DS_Store
