# Abaikan file hasil build Tailwind
src/styles/output.css
src/css/output.css

# Direktori dependency
node_modules/

# Cache Tailwind
.tailwind-cache/

# File log
npm-debug.log*

# File sistem
.DS_Store
